<!DOCTYPE html>
<html>
  <head>
    <title>Blog Form</title>
  </head>

  <body>
  	<h1>Blog Edit Form</h1>

    <form>
    	First name:<br>
    	<input type="text" name="firstname"><br>
    	Last name:<br>
    	<input type="text" name="lastname">
    </form>

   <br>

    <form>
    	<input type="radio" name="gender" value="male"> Male<br>

    	<input type="radio" name="gender" value="female"> Female<br>

    	<input type="radio" name="gender" value="other"> Other<br>
	</form>

	<br>

	<form action="/action_page.php" target="_self">
		
		<input type="submit" value="Submit">
	</form>

  </body>
</html>



<!--
  Creat a blog edit form.
  The form doesn't need to atcually work.
  The import thing is that html form fields appear on the page.
  https://www.w3schools.com/html/html_forms.asp
-->
