<!DOCTYPE html>
<html>
  <head>
    <title>Blog Form</title>
  </head>

  <body>
    <div class='charles'>
      <h1>HTML from charles</h1>
      <h1>Blog Edit Form</h1>

      <form>
      	First name:<br>
      	<input type="text" name="firstname"><br>
      	Last name:<br>
      	<input type="text" name="lastname">
      </form>

      <form>
      	<input type="radio" name="gender" value="male"> Male<br>

      	<input type="radio" name="gender" value="female"> Female<br>

      	<input type="radio" name="gender" value="other"> Other<br>
  	  </form>

      <br>
      <br>

      <form action="/action_page.php" target="_self">

    		<input type="submit" value="Submit">
    	</form>
    </div>
  </body>
</html>
