<!--
  Create an html page that shows a list of blog titles.
  Don't worry about displaying actual blog information.
  You can use fake titles (like "Blog 1, Another Blog Title, Blog C")
  The important thing is that the page includes html headers and html lists
-->

<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="stylesheet.css">
<title>Coffee ipsum Blog</title>
</head>
<body>

<h1>My Blog</h1>
<h2>My first paragraph of the Blog</h2>
<p>Crema aged french press carajillo, spoon in decaffeinated carajillo beans seasonal cappuccino.
   Extraction dripper qui, cappuccino, aroma latte con panna a mazagran. Body ut id single shot, in ristretto,
  whipped, lungo robust plunger pot arabica latte. Foam, americano crema cortado dripper black kopi-luwak.

To go, caffeine brewed espresso breve medium milk. As saucer, froth cultivar, cappuccino, aftertaste,
percolator qui sugar aromatic cinnamon. Fair trade eu latte con panna grinder aged irish cultivar. Extraction,
 fair trade, sit, iced saucer siphon est sugar strong galão so cortado.

Trifecta caramelization crema qui robusta irish whipped rich. Crema as variety,
breve saucer cappuccino single origin breve cream barista. Acerbic cream viennese pumpkin spice extra
extraction acerbic robusta strong. Black mocha plunger pot, galão whipped roast skinny affogato carajillo black crema.

Café au lait, to go in extraction viennese filter blue mountain robusta sugar plunger pot.
 Qui cappuccino, cultivar strong foam caffeine breve. Siphon organic cortado pumpkin spice bar plunger pot sit carajillo.
 At, coffee half and half variety, coffee variety froth macchiato sweet java.</p>


</body>
</html>
