<!--
  Create an html page that shows a list of blog titles.
  Don't worry about displaying actual blog information.
  You can use fake titles (like "Blog 1, Another Blog Title, Blog C")
  The important thing is that the page includes html headers and html lists
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Best Blog Ever!</title>
    </head>
    <body>
        <h1>Welcome to the Best Blog Ever</h1>
          <p>This site is all about the Best Things Ever</p>
        <h2>Here are some places that are the Best Ever</h2>
          <ul>
            <li>Spain</li>
            <li>Italy</li>
            <li>Aruba</li>
            <li>Alaska</li>
          </ul>
    </body>
</html>
