<!DOCTYPE html>
<html>
	<head>
  		<title>My Blog Post</title>
	</head>

	<body>

	  <h1>Welcome to my Blog Post's</h1>

	  <h2>My Blog</h2>

		<ul>
		 <h3>Feet</h3>
		  <p>Walking is lauded as one of the easiest, most effective, and most accessible forms of exercise, and that's true—as long as you're not dealing with foot pain that makes every step agony. According to the American Orthopaedic Foot and Ankle Society (AOFAS), a whopping 80% of women have foot problems, which means that for a vast majority of us, going for a walk may be a lot less appealing than sitting on the couch. (Customize your own walking plan with Walk Your Way to Better Health and lose up to 5x more belly fat!)</p>

		  <img src="https://static1.squarespace.com/static/56b54251f8baf38a1584d9fb/t/5a60b8854192023fc538e218/1516288187967/47923181_S_Heel+Pain_Feet_Red.jpg" width="200" height="200">

		  <li><a href="https://www.prevention.com/fitness/5-reasons-your-feet-hurt">My Feet Hurt</a></li>

		 <h3>Donald Trump</h3>
		  <p>Donald Trump has done pretty well for someone ridiculed by most of the liberal media as an incoherent babbler. His campaigning speeches were just “word salad”, people chuckled. But the speeches worked. And they did so because Trump is a brilliant and careful rhetorician. His can-do slogan of renewed domestic glory – “Make America Great Again”</p>

		  <img src="https://ssli.ebayimg.com/images/g/8SwAAOSwHnFV120m/s-l640.jpg" width="200" height="200">

		  <li><a href="https://www.theguardian.com/us-news/2016/nov/13/make-america-great-again-why-are-liberals-losing-the-war-of-soundbites">Make America Great Again</a></li>	

		 <h3>Humpty Dumpty was pushed</h3>
		  <p>Written by Tommy Sands in the mid-seventies and inspired by grafitti in the toilets of a pub in Belfast, Sands’ song challenges the media portrayal of the “truth” in the context of Northern Ireland, especially in relation to unfair imprisonment. He states: “If all the truths that I was inoculated with since, through education, press and media are anything to go by, then Mr. Dumpty was probably pushed off the wall”</p>

		  <img src="http://3.bp.blogspot.com/-uz8TLyBbUQ0/UZz3UQl0gzI/AAAAAAAABBA/x-ZWiVA8-7k/s1600/Humpty+On+The+Ground.jpg" width="200" height="200">
		  
		  <li><a href="http://www.troublesarchive.com/artforms/traditional-music/piece/humpty-dumpty-was-pushed">Humpty Dumpty was pushed</a></li>
		</ul>


	</body>
</html>




<!--
  Create an html page that shows a list of blog titles.
  Don't worry about displaying actual blog information.
  You can use fake titles (like "Blog 1, Another Blog Title, Blog C")
  The important thing is that the page includes html headers and html lists
-->

