<!DOCTYPE html>
<html>
  <head>
    <link type='text/css' rel='stylesheet' href='../../assets/stylesheets/joshkongstyles.css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Work+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="coverpage"><h1 class='space'>Cover Page</h1>
      <p id='coverpagetitle'> Welcome to JoshKong's index.html
      </p></div>
    <h1>Test Header One</h1>
      <p> Lorem ipsum dolor sit amet, reque audire aperiam pro ex, te pro
          ubique epicurei oporteat. Cu eos dico inimicus, at per tollit oportere,
          mutat atomorum nam ad. Integre minimum sensibus per id, hinc alienum
          per an. At duo soluta euripidis, in vis adolescens interesset
          complectitur. Sit agam incorrupte interpretaris at, duo cu tota
          solet utamur. Ius modus dolore at, at vis lorem corpora gloriatur.
          Nam eros adipisci at, ei pertinax dissentias appellantur cum. Exerci
          mentitum vix at. Et fuisset accumsan vim, elit erant consectetuer qui
          cu, et dolore nostrud duo. No sea abhorreant adipiscing, id eum magna
          nemore sententiae. Justo menandri aliquando usu ea. Mel ex saperet
          adversarium comprehensam, tollit probatus mei eu, an amet menandri
          ius. Veri definitiones mea ut, no altera nusquam adipisci cum.
          Mei doctus splendide et. Ut vel tempor tractatos periculis, te
          quodsi scribentur pri.
      </p>
      <h1>Contact Us</h1>
        <p> Lorem ipsum dolor sit amet, reque audire aperiam pro ex, te pro
            ubique epicurei oporteat. Cu eos dico inimicus, at per tollit oportere,
            mutat atomorum nam ad. Integre minimum sensibus per id, hinc alienum
            per an. At duo soluta euripidis, in vis adolescens interesset
            complectitur. Sit agam incorrupte interpretaris at, duo cu tota
            solet utamur. Ius modus dolore at, at vis lorem corpora gloriatur.
            Nam eros adipisci at, ei pertinax dissentias appellantur cum. Exerci
            mentitum vix at. Et fuisset accumsan vim, elit erant consectetuer qui
            cu, et dolore nostrud duo. No sea abhorreant adipiscing, id eum magna
            nemore sententiae. Justo menandri aliquando usu ea. Mel ex saperet
            adversarium comprehensam, tollit probatus mei eu, an amet menandri
            ius. Veri definitiones mea ut, no altera nusquam adipisci cum.
            Mei doctus splendide et. Ut vel tempor tractatos periculis, te
            quodsi scribentur pri.
        </p>
  </body>
</html>
