<!--
  Creat a user edit form.
  The form doesn't need to atcually work.
  The import thing is that html form fields appear on the page.
  https://www.w3schools.com/html/html_forms.asp
-->
<!doctype html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>
  <label for="Change First Name">First Name</label>
  <input type="text" placeholder="Enter New First Name Here" name="newfirstname" required>
  <br>
  <label for="Change Last Name">Last Name</label>
  <input type="text" placeholder="Enter New Last Name Here" name="newlastname" required>
  <br>
  <label for="Old Password">Old Password</label>
  <input type="text" placeholder="Old Password" name="oldpasword" required>
  <br>
  <label for="New Password">New Password</label>
  <input type="text" placeholder="New Password" name="nepasword" required>
  <br>
  <label for="Re-Enter New Password">Re-Enter New Password</label>
  <input type="text" placeholder="Re-Enter New Password" name="newpasword" required>
  <br>
  <button style="color:blue;">Submit</button>
  <button style="color:red;">Cancel</button>
  

</body>

</html>