<!--
  Create an html page that shows a list of users.
  Don't worry about displaying actual users.
  You can use fake user information (like "Bob Smith, John Smith, Jane Doe")
  The important thing is that the page includes html headers and html lists
-->

<!doctype html>
<html>
<head>
  <title> List of All Users </title>
</head>

<body>
 <h1 style="color:gray;"> USERS</h1>
 <table>
   <tr>
     <th>Number of Users</th>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Email Addres</th>
   </tr>
   <tr>
      <th>1</th>
      <th>Behailu</th>
      <th>Kassa</th>
      <th>kasBh@outlook.com</th>
   </tr>
   <tr>
      <th>2</th>
      <th>Bob</th>
      <th>Thomas</th>
      <th>Bob2018@outlook.com</th>
   </tr>      
   <tr>
      <th>3</th>
      <th>Tom</th>
      <th>Kiven</th>
      <th>kivenT@gmail.com</th>
   </tr>
   <tr>
      <th>4</th>
      <th>Tiffany</th>
      <th>Thomas</th>
      <th>TiffLove@yahoo.com</th>
   </tr>
   <tr>
      <th>5</th>
      <th>Gorge</th>
      <th>Micheal</th>
      <th>gm2010@aol.com</th>
   </tr>
 </table>

</body>
</html>