<!--
  Display a user profile page.
  Don't worry about using actual user information.
  You can use fake user information (like "Bob Smith's profile")
  The important thing is that the page includes html headers and paragraphs
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Page - Saenz</title>
    </head>
    
    <body>
        <header>
            <img src="http://via.placeholder.com/250x120" alt="profile pic"/>
            <h1>Johnny Karate</h1>
        </header>
        
        <div class="container">
            <div class="artical">
                <h2>Article 1</h2>
                <span class="date">
                Created by Ana Sofia on April 2, 2018</span>
                <p>Lorem ipsum dolor sit amet, sale falli referrentur vel ne, agam aeterno interesset ei mea. In quo paulo moderatius eloquentiam. Ius et accusata democritum, eos id probatus concludaturque. Repudiandae signiferumque mea ea, in causae legimus ullamcorper mel. Wisi audiam laboramus his cu.</p>
                <p>Justo intellegam ad usu, sed ea unum facer dicit. Has facer sadipscing neglegentur in, an summo consectetuer usu. Te per ubique copiosae, no ius possit omnium. Vix an tale singulis petentium.</p>

                <a href="#">Read More</a>
            </div>

            <div class="artical">
                <h2>Article 1</h2>
                <span class="date">
                Created by Ana Sofia on April 2, 2018</span>
                <p>Lorem ipsum dolor sit amet, sale falli referrentur vel ne, agam aeterno interesset ei mea. In quo paulo moderatius eloquentiam. Ius et accusata democritum, eos id probatus concludaturque. Repudiandae signiferumque mea ea, in causae legimus ullamcorper mel. Wisi audiam laboramus his cu.</p>
                <p>Justo intellegam ad usu, sed ea unum facer dicit. Has facer sadipscing neglegentur in, an summo consectetuer usu. Te per ubique copiosae, no ius possit omnium. Vix an tale singulis petentium.</p>

                <a href="#">Read More</a>
            </div>

            <div class="artical">
                <h2>Article 1</h2>
                <span class="date">
                Created by Ana Sofia on April 2, 2018</span>
                <p>Lorem ipsum dolor sit amet, sale falli referrentur vel ne, agam aeterno interesset ei mea. In quo paulo moderatius eloquentiam. Ius et accusata democritum, eos id probatus concludaturque. Repudiandae signiferumque mea ea, in causae legimus ullamcorper mel. Wisi audiam laboramus his cu.</p>
                <p>Justo intellegam ad usu, sed ea unum facer dicit. Has facer sadipscing neglegentur in, an summo consectetuer usu. Te per ubique copiosae, no ius possit omnium. Vix an tale singulis petentium.</p>

                <a href="#">Read More</a>
            </div>
        </div>
    
    </body>

</html>