<!--
  Display a user profile page.
  Don't worry about using actual user information.
  You can use fake user information (like "Bob Smith's profile")
  The important thing is that the page includes html headers and paragraphs
-->
<!doctype html>
<html>
<head>
  <title>Profile Page</title>
</head>

<body>
   <h2 style="color:red;">USER NAME</h2>
   <h3>Behailu Kassa</h3>
   <h2 style="color:red;">CONTACT</h2>
   <P>User prefer to be contact through email</P>
   <h3>beKa@outlook.com <button>Send Email</button> </h3>

</body>
</html> 