.caitlin {
  * {
    background-color: #b0e0e6;
    color: #2c0438;
    font-family: sans-serif;
  }


  h1 , h3 {
    background-color: #495a80;
    color: white;
  }



  p{
    color: #495a80;
    margin: 20px;
  }


  .button {
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .button:hover {
    background-color: white;
    color: black;
  }
}
