body {
  background-color: antiquewhite;
  text-align: justify;
  font-family: 'work sans', sans-serif;
  font-size: 1em
  margin-bottom: 5px;
  width: 80%;
  margin-left: 5%;
}

/* Class Styles */

.space {
  padding-top: 8%;
}

/* ID styles */

#coverpage {
  height: 400px;
  background-image: url(https://charlotteagenda-charlotteagenda.netdna-ssl.com/wp-content/uploads/2016/07/charlotte-skyline.jpg);
  background: linear-gradient(to right red, pink);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
}

#coverpagetitle {
  font-size: 1em;
}
