body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

header{
    text-align: center;
    background-color: #307E80;
    padding: 1em;
}

.container {
    margin: 2em;
    padding: 1em;
}

.article {
    border-radius: 5px;
    padding: 1em;
    margin-bottom: .5em;
    background-color: #F8F8F8;
    color: #307E80;
}

.readmore {
    padding: 5px;
    font-size: 110%;
    background-color: #B22222;
    border-radius: 5px;
}

.readmore:hover{
    background-color: #B93838;
}


a {
    text-decoration: none;
    color: #f8f8f8;
}


footer {
    background-color: #307E80;
    padding: 1em;
    margin: 0;
    font-size: 120%;
}